*,
::after,
::before {
  outline: none !important;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #8a98ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #263a5b;
}

body #dashboard-page svg[role="img"] {
  font-size: 18px;
  font-weight: 500;
  color: #4c595f;
}


#authenticate-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authenticate-bg {
  background: url("../Assets/img/authentication-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center !important;
}

img {
  width: 50px;
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 450px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
}
.card-body {
  padding: 30px;
}

a {
  color: #19a299;
  text-decoration: none;

  &:hover {
    color: #168c84;
    text-decoration: none;
  }
}

input {
  padding: 7px;
}

.sign-up {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
}
